:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);


  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--Very-dark-blue-main-BG);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 350px;
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 15px;
  padding: 20px;
}
.images {
  position: relative;
  margin-bottom: 20px;
}

.images img {
  width: 100%;
  border-radius: 10px;
}


.images .svg {
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  background-color: hsl(178, 100%, 50%, 60%);
  top: 0;
  opacity: 0;
  border-radius: 15px;
}

.images .svg img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.images .svg:hover {
  opacity: 1;
}

.equilibrium a {
  font-weight: 600;
  text-decoration: none;
  color: var(--White);

}
.equilibrium a:hover {
  color: var(--Cyan);
}

.equilibrium .about {
  font-weight: 300;
  color: var(--Soft-blue);
  margin-top: 20px;
  font-size: 16px;
}


.day {
  display: flex;
  justify-content: space-between;
    border-bottom: 1px solid var(--Very-dark-blue-line);
  color: var(--Soft-blue);
  padding: 20px 0;
}
.day span:first-child {
  color: var(--Cyan);
  font-weight: 500;

}
.day span {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.day span img {
  margin-right: 6px;

}


.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;

}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--White);
  margin-right: 10px;
}

.profile a {
  font-weight: 400;
}

.profile p {
  font-weight: 300;
  color: var(--Soft-blue);
  font-size: 16px;
}






